.display-none {
  display: none;
}
body._open .svg {
  min-width: 50vw;
  max-height: 80vh;
  transition: max-width 0.3s ease, width 0.3s ease;
}
.svg {
  width: 100%;
  min-width: 70vw;
  max-height: 80vh;
  transition: max-width 0.3s ease, width 0.3s ease;
}

.f722f380-23a3-4097-9bc9-4be46263f78d,
.ff37f871-2624-4c4c-95e9-355955a19711 {
  fill: none;
  stroke-miterlimit: 10;
}
.ff37f871-2624-4c4c-95e9-355955a19711 {
  stroke: #3f9f3e;
}
.f722f380-23a3-4097-9bc9-4be46263f78d {
  stroke: #2a4b9b;
}
.aec493ed-bd4f-48eb-8b59-14a6b37f567e,
.b9410a65-d430-40c4-af8f-71ff301da0da {
  fill: #2a4b9b;
}
.aec493ed-bd4f-48eb-8b59-14a6b37f567e {
  font-size: 11px;
}
.a4e6d3b1-6ece-40b5-a7ac-ad92717759e9,
.add2e0aa-1226-4daf-8f0a-1c256650636d,
.aec493ed-bd4f-48eb-8b59-14a6b37f567e,
.fdd563cf-a025-4a98-b84e-51a79f08cd9f {
  font-family: OpenSans-SemiBold, Open Sans;
  font-weight: 600;
}
.a4e6d3b1-6ece-40b5-a7ac-ad92717759e9 {
  font-size: 5.366px;
}
.a4e6d3b1-6ece-40b5-a7ac-ad92717759e9,
.add2e0aa-1226-4daf-8f0a-1c256650636d,
.fdd563cf-a025-4a98-b84e-51a79f08cd9f {
  fill: #3f9f3e;
}
.add2e0aa-1226-4daf-8f0a-1c256650636d {
  font-size: 10.291px;
}
.fdd563cf-a025-4a98-b84e-51a79f08cd9f {
  font-size: 8.903px;
}
.a8e1788d-abca-4d3c-ab97-498a02ade2e4 {
  font-size: 20.327px;
  fill: #e20613;
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.transform-component-module_wrapper__1_Fgj {
  width: 100% !important;
}

.transform-component-module_content__2jYgh {
  width: 100% !important;
}

.choice {
  fill: #e20613;
  font-size: 12px;
}
