.f549d80b-cdb9-4a18-a6b7-502e0efe2f30 {
  font-size: 10.291px;
}
.be2e4461-7548-4348-80f4-46e53bd8f751,
.f549d80b-cdb9-4a18-a6b7-502e0efe2f30 {
  fill: #3f9e3d;
}
.aa6c6587-d29d-4847-8794-4ecc217ac95c,
.be2e4461-7548-4348-80f4-46e53bd8f751,
.e36c941b-8416-47c8-be5f-b218a93e2a05,
.e90471fb-04eb-4047-a070-cc17549293b6,
.e9b08985-513f-4e73-8d4c-fea11f9d364a,
.f549d80b-cdb9-4a18-a6b7-502e0efe2f30 {
  font-family: OpenSans-SemiBold, Open Sans;
  font-weight: 600;
}
.be2e4461-7548-4348-80f4-46e53bd8f751 {
  font-size: 8.903px;
}
.e90471fb-04eb-4047-a070-cc17549293b6 {
  font-size: 11px;
}
.aa6c6587-d29d-4847-8794-4ecc217ac95c,
.e36c941b-8416-47c8-be5f-b218a93e2a05,
.e7e4347e-3f29-427d-b619-4bc19f86bfd6,
.e90471fb-04eb-4047-a070-cc17549293b6,
.e9b08985-513f-4e73-8d4c-fea11f9d364a {
  fill: #2b4c9a;
}
.e36c941b-8416-47c8-be5f-b218a93e2a05 {
  font-size: 9.821px;
}
.aa6c6587-d29d-4847-8794-4ecc217ac95c {
  font-size: 9.183px;
}
.e9b08985-513f-4e73-8d4c-fea11f9d364a {
  font-size: 8.567px;
}
.a12873be-5924-4aad-b650-c2ff0f865abd,
.a6424c02-035d-4dcc-b164-4aa5f23dc718 {
  fill: none;
  stroke-miterlimit: 10;
}
.a6424c02-035d-4dcc-b164-4aa5f23dc718 {
  stroke: #3f9e3d;
}
.a12873be-5924-4aad-b650-c2ff0f865abd {
  stroke: #2b4c9a;
}
