body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-container {
  z-index: 2060 !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #1e1c37 !important;
}

.MuiAccordionSummary-root {
  min-height: 79px !important;
}

.swal2-html-container ul li {
  text-align: left;
}
.MuiAppBar-positionFixed,
.MuiDrawer-paper {
  top: inherit !important;
}
/* Light */
@font-face {
  font-family: 'OpenSans,sans-serif';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('OpenSans'), local('Raleway-Regular'),
    url('./data/fonts/OpenSans-Light.woff2') format('woff2');
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

/* Regular */
@font-face {
  font-family: 'OpenSans,sans-serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('OpenSans'), local('Raleway-Regular'),
    url('./data/fonts/OpenSans-Regular.woff2') format('woff2');
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

/* Bold */
@font-face {
  font-family: 'OpenSans,sans-serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('OpenSans'), local('Raleway-Regular'),
    url('./data/fonts/OpenSans-Bold.woff2') format('woff2');
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

/* Bold */
@font-face {
  font-family: 'OpenSans,sans-serif';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('OpenSans'), local('Raleway-Regular'),
    url('./data/fonts/OpenSans-SemiBold.woff2') format('woff2');
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

/* Italic */
@font-face {
  font-family: 'OpenSans,sans-serif';
  font-style: italic;
  font-display: swap;
  src: local('OpenSans'), local('Raleway-Regular'),
    url('./data/fonts/OpenSans-Italic.woff2') format('woff2');
  unicoderange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF;
}

* {
  font-family: 'Open Sans', sans-serif !important;
}

span,
p,
h1,
h2,
h3,
h4,
h4 {
  font-family: 'Open Sans', sans-serif !important;
}
